<div class="topSection"></div>

<div class="row">
  <div class="col m3"></div>
  <div class="col m6">
    <div class="card">
      <div class="card-content">
        <div class="card-title">ALC 4.0: Challenge 2.0 Submission</div>
        <p>
          This form enables Learners in the Android and Cloud Track to submit
          their Challenge for the ALC team to review.
        </p>
        <span class="red-text">required *</span>
        <div class="row">
          <div class="input-field s12">
            <input type="email" name="" id="email" />
            <label for="email">Email</label>
          </div>

          <div class="input-field s12">
            <input type="text" name="" id="fullName" />
            <label for="fullName">FullName</label>
          </div>

          <div class="s12">
            <p>Track *</p>
            <br />
            <p>
              <label>
                <input type="radio" name="track" id="track" value="Android" />
                <span>Android</span>
              </label>
            </p>
            <p>
              <label>
                <input type="radio" name="track" id="track" value="Cloud" />
                <span>Cloud</span>
              </label>
            </p>
          </div>

          <div class="input-field s12">
            <input type="text" name="" id="screenshots" />
            <label for="screenshots">Screenshots Url</label>
            <small
              >We expect you to have finished the challenge and have added the
              files to an open folder</small
            >
          </div>

          <div class="input-field s12">
            <input type="text" name="" id="screenshots" />
            <label for="githubURL">GithubURL Url (Android Only)</label>
          </div>

          <div class="input-field s12">
            <textarea
              class="materialize-textarea"
              formControlName="feedback"
              type="text"
              id="feedback"
            ></textarea>
            <label for="feedback">FeedBack</label>
          </div>

          <input type="submit" value="Submit" class="btn" />
        </div>
      </div>
    </div>
  </div>
  <div class="col m3"></div>
</div>
